frontend/node_modules/*
frontend/package-lock.json
frontend/.pnp
frontend/.pnp.js
frontend/.pnp.cjs
frontend/.pnp.loader.mjs
frontend/.yarn/*
frontend/.yarn/patches
frontend/.yarn/plugins
frontend/.yarn/releases
frontend/.yarn/versions
frontend/.next/
backend/__pycache__
backend/*.py[cod]
backend/*.pyo
backend/*.pyd
backend/*.pyc
backend/test_results/
backend/migrations/